:root {
    --titles: 'Anton', sans-serif;
    --normal-text: 'Manrope', sans-serif;
}

body {
    /* margin: 0 auto; */
    box-sizing: border-box;
    width: 100vw;
    height: fit-content;
    font-family: var(--normal-text);
}

header {
    width: 100%;
    /* height: 960px; */
    height: 666px;

    /** background image */
    background: url(../img/lampos-aritonang-24gR_9lCdes-unsplash\ 1.png);
    background-repeat: no-repeat;
}

header h1 {
    font-family: var(--titles);
    color: #FFD15B;
    font-size: 44px;
    font-weight: 400;
    line-height: 66.24px;
    text-align: center;
    width: 890px;
    /** adjusting dimensions*/
    margin-top: -50px; /*~ lifting title up :*/
    padding-bottom: 30px; /*~ pushing search bar back done since it lifts up too :*/
}

.logo {
    width: fit-content;
    padding: 45px 70px;
}

.header--search {
    width: 100%;
    /* text-align: center; */
    /*~ replaced by :*/
    height: 85%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.header--search form {
    display: flex;
    flex-wrap: nowrap;
    width: 954px;
}

.header--search input[type=text] {
    width: 900px;
    height: 72px;
    border: none;
    border-radius: 11px 0 0 11px;
    padding-left: 30px;
}

.header--search form .button--wrapper {
    width: 54px;
    border: solid 4px white;
    border-radius: 0 11px 11px 0;
    background-color: white;
    margin-left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header--search form .button--wrapper button {
    width: 100%;
    height: 87%;
    border-radius: 5px;
    background-color: #1B1B1B;
    border: none;
    margin-left: -5px;
}

.header--search form .button--wrapper button:hover {
    cursor: pointer;
}

.header--search form button img {
    border-radius: 5px;
}

header .searchbar {
    /*background: url(../img/icons/Search.svg);*/ /*~ insert search icon in search bar?*/
    /* background-repeat: no-repeat; */
}

main {
    width: 100%;
    background-color: #EDEDED;
    margin: 0 auto;
}

main section {
    width: 90%;
    margin: 0 auto;
}

main .search-details {
    /* height: 100px; */
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

main .filters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    align-content: center;
    width: 55%;
    justify-content: space-between;

    position: relative;
    z-index: 10;
}

main .filters div h3 {
    background-color: white;
    padding: 17px 16px;
    border-radius: 11px;
}

main .filters span img {
    margin-left: 63px;
}

main .filters span img:hover {
    cursor: pointer;
}

main .filters .filter .filter--search__unroll {
    background-color: white;
    border-radius: 0 0 10px 10px;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: center;
    padding: 5px; */
    /* align-items: flex-start;
    padding: 0 20px; */
}

main .filters .filter .filter--search__unroll input[type=text] {
    /* width: 95%; */
    width: 81%;
    margin-left: 15px;
    margin-bottom: 15px;
}

main .filters .filter .filter--search__unroll ul {
    width: 100%;
}

main .filters .filter .filter--search__unroll ul li {
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

main .filters .filter .filter--search__unroll ul li:hover {
    background-color: #FFD15B;
}

main .filters .filter .used_tags {
    margin-top: 10px;
}

main .filters .filter .used_tags .used_tag {
    background-color: #FFD15B;
    border-radius: 9px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

main .filters .filter .used_tags .used_tag .delete--tag:hover {
    cursor: pointer;
}

main .search-details .total-found {
    padding: 15px;
    font-family: var(--titles);
    font-weight: 400;
    font-size: 21px;
    line-height: 31.61px;
    align-self: flex-start;
}

main .recipe-card {
    height: 731px;
    width: 330px; /*~ 380px - 50px bc of padding on FIGMA*/
    border-radius: 21px;
    position: relative;
    background-color: white;
    margin-bottom: 45px;
}

main .results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recipe-card  {
    position: relative;
}

.recipe-card .recipe-img{
    /* width: -webkit-fill-available; */
    width: 330px;
    /* height: 253px; */
    height: 228px; /*~ removed 25px for css optimization in regards to figma model*/
    border-radius: 21px 21px 0 0;
}

.recipe-card .recipe-time {
    padding: 7px;
    margin: 20px;
    background-color: #FFD15B;
    border-radius: 14px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    line-height: 16.39px;
    font-weight: 400;
}

.recipe-content {
    padding: 15px;
}

.recipe-content h4 {
    font-family: var(--titles);
    font-weight: 400;
    font-size: 18px;
    line-height: 27.1px;
}

.recipe-content h5 {
    font-family: var(--titles);
    font-weight: 700;
    font-size: 12px;
    line-height: 16.39px;
    color: #7A7A7A;
    letter-spacing: 3px; /*~ equals letter 9% on figma? need to reverify css property*/
}

.recipe-content .recipe-description {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 19.12px;
}

.recipe-content .ingredients-table {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.recipe-content .ingredients-table .ingredient {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    margin-bottom: 20px;
}

.recipe-content .ingredients-table .ingredient p {
    /* font-size: 14px; */
    font-size: 13px; /*~ optimizing space on the card*/
    font-weight: 500;
}

.recipe-content .ingredients-table .ingredient .ingredient-quantity {
    color: #7A7A7A;
    font-weight: 400;
}